body {
    background-image: url("../images/papyrus.png")
}
.main {
    color: white;
    text-shadow:
    -2px -1px 0 #000,
    2px -1px 0 #000,
    -2px 1px 0 #000,
    2px 1px 0 #000;
}
.count-down {
    font-size: 100px;
    font-weight: lighter;
}
.btn {
    background-color: white
}
.jumbotron {
    background-image: url("../images/Teldrassil_Tree.jpg");
    background-size: cover;
}
.triviabuttons {
    font-size: 30px;
    font-weight: normal;
}